language: python
python: "3.5"
dist: 'trusty'
sudo: false
group: beta
services:
  - redis-server
addons:
  postgresql: "9.4"
before_install: "pip install pylama && pylama amweekly/** --skip */migrations/*"
install: "pip install -r requirements.txt"
script: "pytest"
after_success: "codeclimate-test-reporter"
