PORT=8000
DEBUG=True

SECRET_KEY=

ALLOWED_HOSTS=127.0.0.1,localhost,example.isl.codes

SSLIFY_DISABLE=True

# To create the database locally: createdb amweekly
DATABASE_URL=postgres://localhost/amweekly
