PORT=8000
DEBUG=True

SECRET_KEY=

ALLOWED_HOSTS=127.0.0.1,localhost,example.isl.codes

SECURE_SSL_REDIRECT=False

# To create the database locally: createdb amweekly
DATABASE_URL=postgres://localhost/amweekly

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
